{% extends 'keeper/base.html'%}

{% block content %}

<div class="row">
		{% for agent in agents %}
		<div class="col-lg-3">
			<img class="thumbnail" src="#">
			<div class="box-element product">
				<h6><strong>{{agent.name}}</strong></h6>
				<h4><strong>{{agent.status}}</strong></h4>
				<hr>


				<button data-product="#" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Buy</button>

				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{agent.balance}}</strong></h4>

			</div>
			<br>
		</div>

		{% endfor %}
	</div>


{% endblock content %}