{% extends 'keeper/base.html' %}

{% load static %}

{% block content %}
<table class="table table-bordered table-hover">
	<thead>
	<tr>
		<th>Name</th>
		<th>Organization</th>
		<th>Phone</th>
		<th>Action</th>

	</tr>
	</thead>
	<tbody>
	{% for counterparty in counterparties %}
	<tr>
		<td>{{counterparty.name}}</td>
		<td>{{counterparty.org_name}}</td>
		<td>{{counterparty.phone}}</td>
		<td><a class="btn btn-success" href="{% url 'cp_detail' counterparty.id %}">View</a>
			<a class="btn btn-primary" href="{% url 'cp-create' %}">+</a>
		</td>
	</tr>
		{% endfor %}
</table>
{% endblock content %}






