{% extends "keeper/base.html" %}

{% load static %}

{% block content %}

<div class="row">
    <h4>Name: {{object.name}}</h4>
    <h4>Phone: {{object.phone}}</h4>
    <h4>Organization: {{object.org_name}}</h4>
    <h4>Address: {{object.address}}</h4>
    <h4>INN: {{object.inn}}</h4>
    <h4>Balance: {{object.balance}} $</h4>
    <h4>Warehouse: {{object.warehouse}}</h4>

</div>

{% endblock content %}