{% extends 'keeper/base.html' %}

{% load static %}

{% block content %}

<div class="container" >

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Created</th>
                <th>Outcat</th>
                <th>Outlay</th>
                <th>Amount</th>
                <th>Amount Type</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            {% for income_item in income_items%}
            <tr class="table-info">
                <td>{{income_item.created}}</td>
                <td>{{income_item.outcat}}</td>
                <td>{{income_item.outlay_id}}</td>
                <td>{{income_item.amount}}</td>
                <td>{{income_item.amount_type}}</td>
                <td>{{income_item.comment}}</td>
            </tr>{% endfor %}
            </tbody>
            </thead>

        </table>
    </table>
</div>


{% endblock content %}
</div>