{% extends 'keeper/base.html' %}

{% load static %}

{% block content %}


<table class="table table-bordered table-hover">
<thead>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Income: {{object.id}} <a href="{% url 'income-item-create' current_id %}" class="btn btn-primary btn-sm">+ </a>
          {% if object.status == "Closed" %}
                    <a href="{% url 'inc-pay-create' current_id %}" class="btn btn-success btn-sm"> $ </a>
          {% elif object.status == "Completed"%}

          {% endif %}
      </h3>
    </div>
    <div class="col-sm">
      Warehouse: {{object.warehouse}}
    </div>
    <div class="col-sm">
      Counter Party: {{object.counter_party_id}}
    </div>
      <div class="col-sm">
      Status: {{object.status}}
    </div>
      <div class="col-sm">
          <a href="{% url 'change_status' object.id%}?action=prev"  class="btn btn-primary"> <-- </a>
          <a href="{% url 'change_status' object.id%}?action=next"  class="btn btn-primary"> --> </a>
          <a href="{% url 'change_status' object.id%}?action=reject" class="btn btn-danger"> x </a>


      </div>
  </div>
</div>
          <tr>
            <th>Product</th>


            <th>Created</th>
              <th>Amount</th>
            <th>Price</th>
            <th>Total</th>

          </tr>
          </thead>
          <tbody>

          <tr>{% for item in items %}
            <td>{{item.product_id}}</td>
            <td>{{object.created}}</td>
              <td>{{item.count}}</td>
              <td>{{item.price}}</td>
              <td>{{item.total}}</td>



          </tr>
          </tbody>
    {% endfor%}
</table>

{% endblock content %}
</div>