{% extends 'keeper/base.html' %}

{% load static %}

{% block content %}

<h1>Incomes <a href="{% url 'income-create' %}" class="btn btn-primary">+</a></h1>
<table class="table table-bordered table-hover">
<thead>
          <tr>
              <th>№</th>
            <th>Created</th>
            <th>Status</th>
            <th>Counterparty</th>
            <th>Warehouse</th>
              <th>Total</th>
              <th>Actions
              </th>
          </tr>
          </thead>
          <tbody>
          {% for income in incomes%}
          <tr>
            <td>{{income.id}}</td>
            <td>{{income.created}}</td>
            <td>{{income.status}}</td>
            <td>{{income.counter_party_id}}</td>
            <td>{{income.warehouse}}</td>
            <td>{{income.total}}</td>
            <td>
                <a href="{% url 'income-detail' income.id %}" class="btn btn-success">View</a>
                {% if income.status == "Closed" or "Completed"%}
                <a href="{% url 'inc-pay-detail' income.id%}" class="btn btn-success">PayLog</a>
                {% endif %} </td>

          </tr>
    {% endfor %}
</table>


{% endblock %}