{% extends 'keeper/base.html' %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4>Items in my cart</h4>
        <table class="table">
          <thead>
          <tr>
            <th>SN</th>
            <th>Product</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          {% for cp in cart.cartproduct_set.all %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{cp.product.title}}</td>
            <td>{{cp.rate}}</td>
            <td>{{cp.quantity}}</td>
            <td>{{cp.subtotal}}</td>
            <td>
              <a href="{% url 'managecart' cp.id %}?action=inc" class="btn btn-light">+</a>
              <a href="{% url 'managecart' cp.id %}?action=dcr" class="btn btn-light">-</a>
              <a href="{% url 'managecart' cp.id %}?action=rmv" class="btn btn-danger">del</a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <th colspan="4" class="total">Total</th>
            <th>{{cart.total}}</th>
            {% if cart.cartproduct_set.all %}
            <th><a href="{% url 'emptycart'  %}">Empty Cart</a></th>
          </tr>
          <tr>
            <th><a class="btn btn-info" href="{% url 'checkout' %}">Checkout</a></th>

          </tr>
          {% endif %}
          </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock content %}