{% extends 'keeper/base.html' %}

{% load static %}


{% block content %}





<table class="table table-bordered table-hover">
    <h1>Orders <a href="{% url 'order-create' %}" class="btn btn-primary">+</a></h1>
<table class="table table-bordered table-hover">
<thead>
    <thead>
    <tr>
        <th>№</th>
        <th>Created</th>
        <th>Status</th>
        <th>Counterparty</th>
        <th>Total</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for order in orders %}
        <td>{{order.id}}</td>
        <td>{{order.created}}</td>
        <td>{{order.status}}</td>
        <td>{{order.counter_party_id}}</td>
        <td>{{order.total}}</td>
        <td><a href="{% url 'order-detail' order.id %}" class="btn btn-success">View</a></td>
        {% if order.status == 'Closed' or 'Completed' %}
        <td><a href="{% url 'payment_detail' order.id %}" class="btn btn-success btn-sm">PayLog</a></td>
        {% endif %}
    </tr>
    </tbody>
    {% endfor %}
</table>


    {% endblock content %}</table>