{% extends 'keeper/base.html' %}

{% load static %}

{% block content %}


<table class="table table-bordered table-hover">
<thead>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Order: {{object.id}}
          <a href="{% url 'order-item-create' current_id %}" class="btn btn-primary btn-sm">+ </a>
          {% if object.status == "Closed" %}
                    <a href="{% url 'payment-create' current_id %}" class="btn btn-success btn-sm"> $ </a>

          {% endif %}
      </h3>
    </div>
    <div class="col-sm">
      Counter Party: {{object.counter_party_id}}
    </div>
      <div class="col-sm">
      Status: {{object.status}}
    </div>
      <div class="col-sm">
          <a href="{% url 'change_order_status' object.id%}?action=prev"  class="btn btn-primary"> <-- </a>
          <a href="{% url 'change_order_status' object.id%}?action=next"  class="btn btn-primary"> --> </a>
          <a href="{% url 'change_order_status' object.id%}?action=reject" class="btn btn-danger"> x </a>
      </div>

      </div>


  </div>
</div>
          <tr>
              <th>Created</th>
              <th>Product</th>
              <th>Warehouse</th>
              <th>Amount</th>
              <th>Price</th>
              <th>Total</th>

          </tr>
          </thead>
          <tbody>
          <tr>{% for order_item in order_items %}
              <td>{{object.created}}</td>
              <td>{{order_item.product_id}}</td>
              <td>{{order_item.warehouse}}</td>
              <td>{{order_item.count}}</td>
              <td>{{order_item.price}}</td>
              <td>{{order_item.total}}</td>

          </tr>
          </tbody>
    {% endfor%}
</table>

{% endblock content %}
</div>