{% extends 'keeper/base.html' %}
{% load static %}
{% block content %}

<div class="column">
    <div class="row">
        {% for payment in payments %}
        <h3>{{payment.order}}</h3>
        <h3>{{payment.amount}}</h3>
        <h3>{{payment.outcat}}</h3>
        <h3>{{payment.outlay}}</h3>
        <h3>{{payment.amount_type}}</h3>
        <h3>{{payment.created}}</h3>
        <h3></h3>
        {% endfor %}
    </div>
</div>
{% endblock content %}