{% extends 'keeper/base.html' %}

{% load static %}

{% block content %}

<div class="container" >

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Created</th>
                <th>Order</th>
                <th>Outcat</th>
                <th>Outlay</th>
                <th>Amount</th>
                <th>Amount Type</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            {% for order_item in order_items%}
            <tr class="table-info">
                <td>{{order_item.created}}</td>
                <td>{{order_item.order}}</td>
                <td>{{order_item.outcat}}</td>
                <td>{{order_item.outlay}}</td>
                <td>{{order_item.amount}}</td>
                <td>{{order_item.amount_type}}</td>
                <td>{{order_item.comment}}</td>
            </tr>{% endfor %}
            </tbody>
            </thead>

        </table>
    </table>
</div>


{% endblock content %}
</div>