{% extends 'keeper/base.html'%}

{% block content %}

<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Category</th>
					<th>Price</th>
				</tr>

				{% for i in prods%}
					<tr>
						<td>{{i.product}}</td>
						<td>{{i.category}}</td>
						<td>{{i.price}}</td>
						<td><a href="{% url 'addtocart' i.id %}" class="btn btn-primary">Add To Cart</a></td>
							 
					</tr>
				{% endfor %}

			</table>
</div>

{% endblock content %}