{% extends 'keeper/base.html'%}

{% block content %}

				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th>Name</th>
						<th>Count</th>
						<th>Price</th>
					</tr>
					</thead>
					<tbody>
					{% for i in prods%}
					<tr>
						<td>{{i.product}}</td>
						<td>{{i.count}}</td>
						<td>{{i.price}} $</td>

					</tr>
					</tbody>
					{% endfor %}

			</table>

{% endblock content %}