{% extends 'keeper/base.html'%}
{% load static %}
{% block content %}

<div class="row">
		{% for warehouse in warehouses %}
		<div class="col-lg-4">
			<div class="box-element product">
				<h6><strong>Name: {{warehouse.name}}</strong></h6>
				<h4><strong>Balance: {{warehouse.balance}} $</strong></h4>
				<hr>

				<a class="btn btn-outline-success" href="{% url 'wpro' warehouse.id  %} ">View</a>
				<h4 style="display: inline-block; float: right"><strong>Debt: {{warehouse.debt}}$</strong></h4>

			</div>
			<br>
		</div>

		{% endfor %}
	</div>



{% endblock content %}