{% extends "keeper/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Product</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <br>
                <button class="btn btn-outline-info" type="submit" value="Save">Create</button>
            </div>

        </form>
    </div>

{% endblock content %}