{% extends "keeper/base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-5">

    </div>
	<div class="col-6">


        <h1><p>{{object.product}}</p></h1>
        <h2>{{object.warehouse}}</h2>
        <p><h3>{{object.price}}</h3></p>

    </div>
  </div>
</div>



{% endblock content %}