{% extends 'keeper/base.html'%}

{% block content %}
<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Add Worker</a>
			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Phone</th>
					<th>Created</th>
					<th>Warehouse</th>
					<th>User</th>
				</tr>

				{% for i in workers%}
					<tr>
						<td>{{i.name}}</td>
						<td>{{i.phone}}</td>
						<td>{{i.created}}</td>
						<td>{{i.warehouse}}</td>
						<td>{{i.user}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>



{% endblock content %}